<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new AR</title>
    <link rel="stylesheet" href="{% static 'ar/add.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<img src="{% static 'ar/add-ar-page-background.png' %}" alt="" class="background-img">
<div class="container">
    <div class="form-container">
        <form method="post" class="form" enctype="multipart/form-data">
            <h1 class="form-header">Новый проект</h1>
            {% csrf_token %}
            <input type="text" class="form-input" placeholder="Название проекта" name="title">
            <input type="text" class="form-input" placeholder="URL name" name="slug">
            <input type="file" class="form-input" placeholder="Картинка (.png / .jpg / .jpeg)" name="image">
            <input type="file" class="form-input" placeholder="Видео" name="video">
            <button class="submit-btn">Создать</button>
        </form>
    </div>
</div>

</body>
</html>