{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{ ar }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'img-tracking/css/nft-style.css' %}">
    <link rel="stylesheet" href="{% static 'img-tracking/css/main.css' %}">

    <script src="{% static 'img-tracking/js/three.min.js' %}"></script>
    <script src="{% static 'img-tracking/js/ARnft.js' %}"></script>
</head>

<body>
<div id="overlay">
    <button id="startButton">Play</button>
</div>
<video id="arvideo" muted loop crossOrigin playsinline>
    <source src="/media/videos/{{ ar.videoname }}">
</video>

<script>
  const startButton = document.getElementById('startButton');
  const video = document.querySelector('#arvideo')

  startButton.addEventListener('click', function () {
    document.querySelector('#overlay').remove();

    console.log('Trynna play the video');
    const camvideo = document.querySelector('#video')
    if (camvideo !== null) camvideo.style.display = 'block'

    video.muted = false;
    video.play();

  }, false);

  ARnft.ARnft.init(1280, 720,
      "static/img-tracking/data/nft/{{ ar.imagename }}",
      "{% static 'img-tracking/config.json' %}", true)
       .then(nft => nft.addVideo('arvideo', {{ ar.scale }}))
       .catch(() => console.log("Device seems to be cameraless"));

  document.addEventListener("nftTrackingLost", function () {
    alert("Tracking lost")
    video.pause()
  })
</script>
</body>

</html>
